//menu-item
.title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    color: rgba(var(--text-color-rgba), 0.5);
    padding: 5px 12px;
}

.menu-item {
    padding: 9px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    &:hover {
        background-color: rgba(var(--text-color-rgba), 0.03);
    }
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-Name {
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.03px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-desc {
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.093px;
    color: rgba(var(--text-color-rgba), 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
